<div class="loading-section" *ngIf="!items">
  ...Loading
</div>
<div *ngIf="items">
  <ol start="{{ listStart }}">
    <li *ngFor="let item of items" class="post">
      <item class="item-block" [item]="item"></item>
    </li>
  </ol>
  <div class="nav">
    <a class="prev" *ngIf="listStart !== 1" [routerLink]="['/' + storiesType, pageNum - 1]">
      < Prev
    </a>
    <a class="more" *ngIf="items.length === 30" [routerLink]="['/' + storiesType, pageNum + 1]">
      More >
    </a>
  </div>
</div>
